﻿@model TestTaskAPPIT.Models.FINANCIAL_ITEM

@{
    ViewBag.Title = "Edit";
}

<div class="row">
    <form method="post" asp-action="Edit" id="EditForm">
        <input type="hidden" asp-for="FINANCIAL_ITEM_ID" />
        <div class="row form-group">
            <div class="input-field col s12">
                <label asp-for="PARTNER_ID">PARTNER</label>
                <select class="form-control" asp-for="PARTNER_ID" asp-items="Model.PARTNERS" required="" aria-required="true">
                    <option value="" disabled selected>Select</option>
                </select>
            </div>
        </div>
        <div class="row form-group">
            <div class="input-field col s12">
                <label asp-for="AMOUNT"></label>
                <input class="form-control" asp-for="AMOUNT" type="number" step="0.1" required="" aria-required="true" />
            </div>
        </div>
        <div class="row form-group">
            <div class="input-field col s12">
                <label asp-for="DATE"></label>
                <input class="form-control datepicker" asp-for="DATE" required="" aria-required="true"/>
            </div>
        </div>
        <div class="row form-group">
            <div class="input-field col s12">
                <button type="submit" class="btn btn-outline-primary">Edit</button>
                <a asp-action="Index" asp-controller="Home" class="btn btn-outline-secondary">Cancel</a>
            </div>
        </div>
    </form>
</div>
