﻿@model List<TestTaskAPPIT.Models.FINANCIAL_ITEM>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <a asp-action="Create" class="btn btn-outline-primary" style="margin-bottom:10px">Create</a>
    <a asp-action="PartnerCalculation" class="btn btn-outline-success" style="margin-bottom:10px;margin-left:10px">Calculate</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Partner </th>
                <th>Partner FEE_PERCENT</th>
                <th>Amount </th>
                <th>Date </th>
                <th>Akcija </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
                <tr>
                    <td>@d.PARTNER.PARTNER_NAME</td>
                    <td>@d.PARTNER.FEE_PERCENT</td>

                    <td>@d.AMOUNT</td>
                    <td>@d.DATE</td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = d.FINANCIAL_ITEM_ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = d.FINANCIAL_ITEM_ID }, new { onclick = "return confirm('Are sure wants to delete?');" })
                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>



