﻿@model List<TestTaskAPPIT.ViewModels.PARTNER_VM>
@{
    ViewBag.Title = "Calculation Page";
}
<div class="row">
    <a asp-action="Index" class="btn btn-outline-primary" style="margin-bottom:10px">Return to List</a>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>ID </th>
                <th>PARENT ID </th>
                <th>Partner </th>
                <th>FEE </th>
                <th>Team Purchase </th>
                <th>Total Purchase</th>
                <th>Own Bonus Purchase</th>
                <th>Team Bonus Purchase</th>
                <th>Total Commission </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var d in Model)
            {
            <tr>
                <td>@d.PARTNER.PARTNER_ID</td>
                <td>@d.PARTNER.PARENT_PARTNER_ID</td>
                <td>@d.PARTNER.PARTNER_NAME</td>
                <td>@d.PARTNER.FEE_PERCENT</td>
                <td>@d.TeamPurchase</td>
                <td>@d.TotalPurchase</td>
                <td>@d.OwnBonusPurchase</td>
                <td>@d.TeamBonusPurchase</td>
                <td>@d.TotalCommission</td>
            </tr>
            }
        </tbody>
    </table>
</div>


